@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }

  .speaker-collection {
    max-width: 1200px;
    justify-content: space-around;
  }

  .speaker-card {
    width: 200px;
  }

  .hero .main-text {
    img {
      width: 350px;
    }
  }
}
@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px !important;

    .main-text {
        align-items: center;
    }
  }
  .hero__nav {
    .navbar {
      a {
        margin: 0 0.64rem;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    max-width: 600px !important;
  }
  .hero__nav {
    .navbar {
      display: none;

      a {
        margin: 0 1rem;
      }
    }
  }

  .hero .main-text {
    img {
      display: none;
    }
  }

  .speaker-collection {
    max-width: 600px;
    justify-content: space-around;
  }

  .speaker-card {
    width: 200px;
  }

  .faq {
    position: relative;
    display: block;

    h2 {
      display: flex;
      align-items: center;
      color: rgba(130, 130, 130, 0.5);
      margin: 0;

      opacity: 1;
      img {
        display: inline-block;
        opacity: 1;
      }
    }
    img {
      max-width: 200px;
      display: none;
    }
  }
}

@media screen and (max-width: 605px) {
  .container {
    max-width: 500px !important;
  }

  .speaker-collection {
    max-width: 500px;
    justify-content: center;
  }

  .speaker-card {
    width: 200px;
    margin: 0.8rem 1.25rem;
  }

  .schedule {
    padding: 3.815rem 0;

    .day-schedule {
      flex-direction: column;
      align-items: center;

      .date-details {
        .date-complete {
          display: inline-block;

          &:nth-child(2)::after {
            content: ",";
          }
        }
      }

      .talks {
        width: 100%;
        .talk-details {
          flex-direction: column;
          align-items: flex-start;

          .speaker {
            margin-top: 1.98rem;

            .speaker-photo {

              margin-left: 0;
            }
          }
        }
      }
    }
  }


  .sponsors {
      padding: 1rem;
    .logos {
        margin: 1rem;
      }

  }
  footer {
    align-items: center;
    padding: 1rem;
    flex-direction: column-reverse;

    .right {
        margin-bottom: 2rem;
      
        p {
          margin-bottom: 12px;
          color: #4f4f4f;
          letter-spacing: 0.05em;
          font-size: 1.563rem;
        }
        
          a {
            margin: 0 auto;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 1.2px;
            text-align: center;
            display: block;
            max-width: 280px;
          }
        
      }

      .left {
          display: flex;
          flex-direction: row;
          width: 100%;

          a {
              display: inline-block;
          }
      }
  }
 

}
@media screen and (max-width: 550px) {
  .container {
    max-width: 450px !important;
  }

  .speaker-collection {
    max-width: 450px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }

}
@media screen and (max-width: 450px) {
  .container {
    max-width: 350px !important;
  }

  .speaker-collection {
    max-width: 350px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }

}
