

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }

  .speaker-collection {
    max-width: 1200px;
    justify-content: space-around;
  }

  .speaker-card {
    width: 200px;
  }

  .hero .main-text {
    img {
      width: 350px;
    }
  }
}
@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px !important;
  }
  .hero__nav {
    .navbar {
      a {
        margin: 0 1rem;
      }
    }
  }
  .modal__container {
    padding: 2rem;

    .person {
      margin-right: 1rem;
    }
  }



  .schedule {
  .day-schedule {
    .talks {
      .talk-details {
        .topic {
          max-width: 250px;
        }
        .speaker {
          display: flex;
          align-items: center;
          width: 300px;
        }
      }
    }
  }
}
}
@media screen and (max-width: 850px) {
  .container {
    max-width: 600px !important;
  }
  .hero__nav {
    .navbar {
      display: none;

      a {
        margin: 0 1rem;
      }
    }
  }

  .hero .main-text {
    img {
      display: none;
    }
  }

  .modal__container {
    padding: 2rem;

    .main {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .person {
      margin: 1.563rem 1rem;
    }
  }
  .speaker-collection {
    max-width: 600px;
    justify-content: space-around;
  }

  .speaker-card {
    width: 200px;
  }


  .schedule {
    .day-schedule {
      flex-direction: column;
      align-items: center;
      .talks {
        width: 100%;
        .talk-details {
          margin: 1rem;
          padding: 2rem;

          .speaker {
            width: 250px;
          }

          .topic {
            max-width: 250px;
          }
        }
      }
    }
  }
  .faq {
    position: relative;
    display: block;

    h2 {
      display: flex;
      align-items: center;
      color: rgba(130, 130, 130, 0.5);
      margin: 0;

      opacity: 1;
      img {
        display: inline-block;
        opacity: 1;
      }
    }
    img {
      max-width: 200px;
      display: none;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    max-width: 500px !important;
  }

  .speaker-collection {
    max-width: 500px;
    justify-content: center;
  }

  .speaker-card {
    width: 200px;
    margin: 0.8rem 1.25rem;
  }

  .schedule {
    padding: 3.815rem 0;

    .day-schedule {
      flex-direction: column;
      align-items: center;

      .date-details {
        .date-complete {
          display: inline-block;

          &:nth-child(2)::after {
            content: ",";
          }
        }
      }

      .talks {
        width: 100%;
        .talk-details {
          flex-direction: column;
          align-items: flex-start;

          .speaker {
            margin-top: 1.98rem;
            width: 300px;

            .speaker-photo {

              margin-left: 0;
            }
          }

          .topic {
            max-width: 350px;
          }
        }
      }
    }
  }


  .sponsors {
      padding: 1rem;
    .logos {
        margin: 1rem;
      }

  }
  footer {
    align-items: center;
    padding: 1rem;
    flex-direction: column-reverse;

    .right {
        margin-bottom: 2rem;
      
        p {
          margin-bottom: 12px;
          color: #4f4f4f;
          letter-spacing: 0.05em;
          font-size: 1.563rem;
        }
        
          a {
            margin: 0 auto;
            font-size: 1.25rem;
            font-weight: 500;
            letter-spacing: 1.2px;
            text-align: center;
            display: block;
            max-width: 280px;
          }
        
      }

      .left {
          display: flex;
          flex-direction: row;
          width: 100%;

          a {
              display: inline-block;
          }
      }
  }
 

}
@media screen and (max-width: 520px) {
  .container {
    max-width: 450px !important;
  }

  .modal__container {
    padding: 1rem;
    width: 90vw;
    .main {
      padding: 1rem;
      
    }
  }
  .speaker-collection {
    max-width: 450px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }

}
@media screen and (max-width: 480px) {
  .container {
    max-width: 350px !important;
  }

  .modal__container {
    .main {
      .person {
        div {
          width: 175px !important;
          height: 175px !important;
          background-size: 175px !important;
        }
      }

      .details {
        p {
          font-size: 0.8rem;
        }
      }
      
    }
  }
  .speaker-collection {
    max-width: 350px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }



  .schedule {
    .day-schedule {

      .talks {

        .talk-details {

          .speaker {
              width: 280px;
            .speaker-photo {
              max-width: 5rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {

  
  .container {
    max-width: 320px !important;
  }


  .speaker-collection {
    max-width: 320px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }
  .schedule {
    .day-schedule {

      .talks {

        .talk-details {
          margin: 1rem 0;
          .speaker {
              width: 250px;
            .speaker-photo {
              max-width: 3.5rem;
            }
          }
        }
      }
    }
  }

  footer {

      .left {
          width: 90%;
          flex-direction: column;
          margin: 1.563rem;

          a {
              display: inline-block;
          }
      }
  }

}
@media screen and (max-width: 340px) {

  .main-text {
    div {
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        a {
          margin: 0.64rem 0;
        }
      }
    }
  }
  .container {
    max-width: 280px !important;
  }

  .hero {
    .main-text {
      display: flex;
      justify-content: center;
      padding-top: 100px;
    
      .main {
        font-size: 1rem;
        span {
          font-size: 2.441rem;
        }
      }

      .event-description {
        font-size: 1rem;
      }
    }
  }


  .speaker-collection {
    max-width: 280px;
    justify-content: space-evenly;
  }

  .speaker-card {
    margin: 0.64rem;
    width: 150px;
    padding: 0;
  }

  footer {

      .left {
          width: 90%;
          flex-direction: column;
          margin: 1.563rem;

          a {
              display: inline-block;
          }
      }
  }

}
